@import "compass/css3";
@import "compass/reset";

html {
	font-size: 62.5%;
}

.content {
	margin: 0 auto;
	max-width: 1862px;
	width: 100%;
}

body {
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: #ccc;
}

* {
	box-sizing: border-box;
}

.cols {
	float: left;
}

.cf:before, .cf:after {
	content: " ";
    display: table;
    clear: both;
}


header {
	padding: 0 30px;
	height: 210px;
	text-align: center;
	background-color: #1368b9;
	h1 {
		padding: 50px 0;
		margin: 0 auto;
		width: 639px;
		display: block;
		font-size: 11.2rem;
		// font-size: 112px;
		text: {
			align: center;
			transform: uppercase;
		}
		.sub-text {
			font-size: 2.0rem;
			text-align: right;
			display: block;
		}
	}
}

// Classes tipografia
.title-size-h2 {
	font-size: 4.8rem;
}

.title-size-h3 {
	font-size: 3rem;
}
// Classes tipografia

.block {
	padding: 30px 30px 0;
	background-color: #696969;

}//block

	// Styles columms

.block__cola {
	padding: 0 30px;
	width: 44.14607948442535%;
	background-color: #13b94d;
}

.block__colb {
	margin-left: 1.611170784103115%;
	width: 28.4640171858217%;
}

.block__colc {
	margin-left: 1.611170784103115%;
	width: 24.11385606874329%;
}

// Styles columms

.block__text {
	padding: 40px 0;
	// background-color: #13b94d;
}

.test {
	border-bottom: 2px solid #000;
}

.block__text--bgchange {
	padding: 40px 30px;
	margin-bottom: 30px;
	background-color: #93a241;
}

.block__title {
	margin-bottom: 30px;
}

.block__paragraph {
	margin-bottom: 30px;
	font-size: 2.4rem;
}

.block__lst {
	margin-bottom: 30px;
	li {
		margin-left: 5.660377358490566%;
		width: 47.16981132075472%;
		max-height: 250px;
		float: left;
		img {
			width: 100%;
			height: 100%;
		}
		&:first-child {
			margin-left: 0;
		}
	}
}



// Media Queries

@media (min-width:1024px) and (max-width:1399px) {
	.block__paragraph {
		margin-bottom: 30px;
		font-size: 1.7rem;
	}

	.title-size-h3 {
		font-size: 2.9rem;
	}
}

@media (min-width:768px) and (max-width:1023px) {

	header {
		height: 124px;
		h1 {
			padding: 25px 0;
			margin: 0;
			width: 274px;
			font-size: 4.6rem;
			text-align: left;
			.sub-text {
				font-size: 2.0rem;
				text-align: left;
			}
		}
	}

	.cols {
		float: none;
	}

	.block__cola {
		margin-bottom: 30px;
		width: 100%;
	}

	.block__colb {
		margin-left: 0;
		width: 100%;
	}

	.block__colc {
		margin-left: 0;
		width: 100%;
	}

	.block__title {
		text-align: center;
	}

	.block__lst {
		li {
			max-height: 100%;
		}
	}

	.title-size-h3 {
		text-align: left;
	}
}

@media (max-width:767px) {

	header {
		height: 124px;
		h1 {
			padding: 25px 0;
			margin: 0;
			width: 274px;
			font-size: 4.6rem;
			text-align: left;
			.sub-text {
				font-size: 2.0rem;
				text-align: left;
			}
		}
	}

	.title-size-h2 {
		font-size: 3.4rem;
	}

	.block__cola {
		margin-bottom: 30px;
		width: 100%;
	}

	.block__colb {
		margin-left: 0;
		width: 100%;
	}

	.block__colc {
		margin-left: 0;
		width: 100%;
	}

	.block__lst {
		li {
			max-height: 100%;
		}
	}

	.block__paragraph {
		font-size: 1.8rem;
	}
}